section.header-up {padding: 30px 0;}
//DIV LOGO START
div.logo {
  display: inline-block;
  width: 231px;
  i.logotip {
    display: inline-block;
    margin-right: 7px;
    width: 34px;
    height: 34px;
    background: url(../../img/image-sprites.jpg) no-repeat -2358px 0;
  }
  p {
    b {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
//DIV LOGO END

//DESKTOP MENU START
div.menu {
  width: 100%;
  justify-content: flex-end;
  a {
    margin-right: 26px;
    padding: 13px 10px;
    align-self: center;
    text-transform: capitalize;
    font-size: 16px;
    color: $nav;
    border-radius: 10px;
    transition: all 0.3s ease;
    &:hover {
      background: $input;
      color: $a;
    }
  }
}

//FORM START
input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	background: #ededed url(../../img/search.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 55px;

	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;

	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #66CC75;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
	width: 15px;
	padding-left: 10px;
	color: transparent;
	cursor: pointer;
}
#demo-2 input[type=search]:hover {
	background-color: #fff;
}
#demo-2 input[type=search]:focus {
	width: 130px;
	padding-left: 32px;
	color: #000;
	background-color: #fff;
	cursor: auto;
}
#demo-2 input:-moz-placeholder {
	color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
	color: transparent;
}
//FORM END

//DESKTOP MENU END


//MOBILE MENU START
ul.mobile-menu {
    position: relative;
    background: $aspire;
  }
  input#nav {display: none;}
  input#nav:checked ~ nav {left: 0;}

  a {
    text-decoration: none;
  }
  label.menuFive {
    margin: 4% !important;
  }

  nav {
    width: 90%;
    position: absolute;
    left: -100%;
    background: $aspire-transparent;
    transition: left 0.5s ease-in-out;
  }

  nav a {
    display: block;
    padding: 30px 0;
    text-transform: uppercase;
    color: $w;
    text-align: center;
    -webkit-transition: background 0.4s ease-in-out;
    -o-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
    // &.logotip{@include logotip;}
  }

  nav a:hover {background: rgb(45, 163, 230);}

  /* menuFive */
  .menuFive{
    width: 35px;
    height: 30px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .menuFive span{
    background-color: $w;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
  }
  .menuFive span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .menuFive span:nth-child(2){
    top:13px;
    left: 0px;
  }
  .menuFive span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .menuFive:not(.clickMenuFive):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
  }
  .menuFive:not(.clickMenuFive):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
  }
  .menuFive:not(.clickMenuFive):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
  }
  .clickMenuFive span:nth-child(1){
    transform: rotate(45deg);
    top: 13px;

  }
  .clickMenuFive span:nth-child(2){
    transform: scale(.1);

  }
  .clickMenuFive span:nth-child(3){
    transform: rotate(-45deg);
    top: 13px;
  }

  div.mobile-form {justify-content: center; padding: 30px 0;}

//MOBILE MENU END

//SECTION DOWNLOAD APPS START
section.download-apps {
  background: $aspire;
}

ul.aspire-apps {
    justify-content: space-between;
  li.aspire-descr {
    flex-basis: 513px;
    padding: 179px 0 237px 0;
    h1{
      @include h1;
    }
    div.download-apps-button {
      width: 370px;
      margin-top: 106px;
      justify-content: space-between;
      a {
        padding: 25px;
        text-transform: capitalize;
        font-size: 16px;
        border-radius: 33px;
        transition: all 0.3s ease-in-out;
        &.button-download-now {
          background: $w;
          color: $nav;
          &:hover {
            background: $aspire;
            color: $w;
          }
        }
        &.button-learn-more {
          color: $w;
          border: 3px solid $w;
          &:hover {
            background: $w;
            color: $nav;
          }
        }
      }
    }
  }

  li.aspire-img {
    display: inline-block;
    padding-top: 100px;
 }
}
//SECTION DOWNLOAD APPS END
