@media screen and (min-width: 601px) and (max-width: 1000px) {
  //HEADER START
  ul.aspire-apps {justify-content: center; flex-wrap: wrap;}
  //HEADER END
  //SECTION ASPIRE APPS FEATURE START
  section.aspire-apps-feature {
    padding-bottom: 40px;
  }
  div.aspire-apps-header {
    margin: 60px 0 68px 0;
  }
  ul.design-exlusive {
    width: 100%;
  }
  div.exclusive-design-img {
    margin: 20px auto;
  }
  //SECTION ASPIRE APPS FEATURE END
  //SECTION SLIDER START
  div.aspire-apps-header {margin: 32px 0 68px 0;}
  .button-left {
    position: absolute;
    left: 34%;
    bottom: -29%;
  }
  .button-right {
    position: absolute;
    right: 34%;
    bottom: -29%;
  }
  .cards-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .smartphone-img {display: none;}
  //SECTION SLIDER END

  //SECTION DOWNLOAD ASPIRE START
  ul.aspire-download {justify-content: center; }
  //SECTION DOWNLOAD ASPIRE START

  //SECTION TESTIMONIALS START

  div.crumbs {
    position: relative;
    bottom: -58px;
  }
  //SECTION TESTIMONIALS END

  //SECTION PRICING START
  section.pricing {margin-top: 10em;}
  ul.price-list {
    li {margin-bottom: 1em;}
  }
  //SECTION PRICING END

  //SECTION OUR TEAM START
  section.our-team {padding-bottom: 0;}
  ul.team-member {
    justify-content: space-around;
    overflow: hidden;
    li.team-member-li {
      margin-bottom: 1em;
      ul.team-social-icons { width: 100%; justify-content: space-around;}
    }
  }
  //SECTION OUR TEAM END

  //SECTION PREFOOTER START
  section.prefooter-main {justify-content: center; padding-bottom: 3em;}
  //SECTION PREFOOTER END


}
