@media screen and (min-width: 1001px) and (max-width: 1144px) {
  //SECTION SLIDER START
  div.aspire-apps-header {margin: 32px 0 68px 0;}
  .button-left {
    position: absolute;
    left: 34%;
    bottom: -29%;
  }
  .button-right {
    position: absolute;
    right: 34%;
    bottom: -29%;
  }
  .cards-wrapper {
    width: 100%;
    overflow: hidden;
  }
  //SECTION SLIDER END

  //SECTION DOWNLOAD ASPIRE START
  ul.aspire-download {justify-content: center; }
  //SECTION DOWNLOAD ASPIRE START

  //SECTION OUR TEAM START
  section.our-team {padding-bottom: 0;}
  ul.team-member {
    justify-content: space-around;
    overflow: hidden;
    li.team-member-li {
      margin-bottom: 1em;
      ul.team-social-icons { width: 100%; justify-content: space-around;}
    }
  }
  //SECTION OUR TEAM END

  //SECTION PREFOOTER START
  section.prefooter-main {justify-content: center; padding-bottom: 3em;}
  //SECTION PREFOOTER END
}
