@media screen and (max-width: 320px) {
  //HEADER START
  ul.aspire-apps {
    flex-wrap: wrap;
    li.aspire-descr {
      padding: 100px 0 0 0;
      h1 {
        text-align: center;
      }
      div.download-apps-button {
        width: 319px;
        margin-top: 60px;
        justify-content: center;
        a.button-download-now {
          margin-bottom: 2em;
        }
      }
    }
  }
  //HEADER END

  //SECTION ASPIRE APPS FEATURE START
  section.aspire-apps-feature {
    padding-bottom: 40px;
  }
  div.aspire-apps-header {
    margin: 60px 0 68px 0;
  }
  ul.design-exlusive {
    width: 100%;
  }
  div.exclusive-design-img {
    margin: 20px 0;
  }
  //SECTION ASPIRE APPS FEATURE END

  //SECTION SLIDER START
  div.aspire-apps-header {margin: 32px 0 68px 0;}
  .button-left {
    position: absolute;
    left: 34%;
    bottom: -29%;
  }
  .button-right {
    position: absolute;
    right: 34%;
    bottom: -29%;
  }
  .cards-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .smartphone-img {display: none;}
  //SECTION SLIDER END

  //SECTION DOWNLOAD ASPIRE START
  ul.aspire-download {
    li.aspire-store {
      padding: 50px 0 0 0;
      h1, p {text-align: center;}
      div.aspire-buttons-download {
        justify-content: space-around;
        a:nth-child(3) {margin-top: 30px;}
      }
    }
    li.aspire-download-mobile {padding: 53px 0 0 0;}
  }

  //SECTION DOWNLOAD ASPIRE START

  //SECTION TESTIMONIALS START
  section.testimonials {position: relative;}
  ul.testimonials-description {
    flex-wrap: wrap; opacity: 1;
    li.testimonials-team-img {
    margin: 0 auto;
}
  }
  div.crumbs {
    position: absolute;
    left: 8em;
    bottom: -126px;
  }
  //SECTION TESTIMONIALS END

  //SECTION PRICING START
  section.pricing {margin-top: 10em; padding: 0;}
  //SECTION PRICING END

  //SECTION OUR TEAM START
  section.our-team {padding-bottom: 0;}
  ul.team-member {
    overflow: hidden;
    li.team-member-li {
      ul.team-social-icons { width: 320px; justify-content: space-around;}
    }
  }
  //SECTION OUR TEAM END

  //SECTION CONTACT US START
  section.contact {padding: 1px 0 0 0;}
  ul.contact-us {
    li.contact-form {
      padding: 25px 20px 40px 20px;
      form {
        input[type="submit"] {margin: 0 auto; display: block;}
      }
    }
    li.main-feature {
      div.drop-down-list {
        input#drop:checked + p {height: 170px;}
        input#drop2:checked + p {height: 170px;}
        input#drop3:checked + p {height: 170px;}
        input#drop4:checked + p {height: 170px;}
        div.list-header label {width: 40px;}
      }
    }
  }
  //SECTION CONTACT US END

  //SECTION PREFOOTER START
  section.prefooter {padding-bottom: 2em;}
  div.prefooter-left {
    padding: 81px 0;
    div.prefooter-logo {margin: 0 auto;}
    p.prefooter-descr {text-align: center;}
    div.prefooter-social-icons {width: 100%;justify-content: space-around;}
  }
  div.prefooter-right {
    div.prefooter-form {
      margin-left: 0;
      form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center
      }
      input[type="email"] {
         margin: 0 0 2em 0;
      }
    }
  }
  //SECTION PREFOOTER END

  //FOOTER START
  footer {padding: 10px 0;}
  //FOOTER END
}
