@media screen and (min-width: 481px) and (max-width: 600px) {
  //HEADER START
  ul.aspire-apps {
    flex-wrap: wrap;
    li.aspire-descr {
      padding: 100px 0 0 0;
      h1 {
        text-align: center;
      }
      div.download-apps-button {
        width: 100%;
        margin-top: 60px;
        justify-content: center;
        a.button-download-now {
          margin: 0 1em 0 0;
        }
      }
    }
  }
  //HEADER END

  //SECTION ASPIRE APPS FEATURE START
  section.aspire-apps-feature {
    padding-bottom: 40px;
  }
  div.aspire-apps-header {
    margin: 60px 0 68px 0;
  }
  ul.design-exlusive {
    width: 100%;
  }
  div.exclusive-design-img {
    margin: 20px 0;
  }
  //SECTION ASPIRE APPS FEATURE END

  //SECTION SLIDER START
  div.aspire-apps-header {margin: 32px 0 68px 0;}
  .button-left {
    position: absolute;
    left: 34%;
    bottom: -29%;
  }
  .button-right {
    position: absolute;
    right: 34%;
    bottom: -29%;
  }
  .cards-wrapper {
    width: 100%;
    overflow: hidden;
  }
  .smartphone-img {display: none;}
  //SECTION SLIDER END

  //SECTION DOWNLOAD ASPIRE START
  ul.aspire-download {
    li.aspire-store {
      padding: 50px 0 0 0;
      h1, p {text-align: center;}
      div.aspire-buttons-download {
        width: 100vw;
        justify-content: space-around;
        // a:nth-child(3) {margin-top: 30px;}
      }
    }
    li.aspire-download-mobile {
      display: block;
      margin: 0 auto;
      padding: 53px 0 0 0;
    }
  }

  //SECTION DOWNLOAD ASPIRE START

  //SECTION TESTIMONIALS START
  section.testimonials {position: relative;}
  ul.testimonials-description {
    flex-wrap: wrap; opacity: 1;
    li.testimonials-team-img {
    margin: 0 auto;
}
  }
  div.crumbs {
    position: absolute;
    left: 43%;
    bottom: -126px;
  }
  //SECTION TESTIMONIALS END

  //SECTION PRICING START
  section.pricing {margin-top: 10em; padding: 0;}
  ul.price-list {
    li {margin-bottom: 1em;}
  }
  //SECTION PRICING END

  //SECTION OUR TEAM START
  section.our-team {padding-bottom: 0;}
  ul.team-member {
    justify-content: center;
    overflow: hidden;
    li.team-member-li {
      margin-bottom: 1em;
      ul.team-social-icons { width: 100%; justify-content: space-around;}
    }
  }
  //SECTION OUR TEAM END



  //SECTION PREFOOTER START
  section.prefooter {padding-bottom: 2em;}
  div.prefooter-left {
    padding: 81px 0;
    div.prefooter-logo {margin: 0 auto;}
    p.prefooter-descr {text-align: center;}
    div.prefooter-social-icons {width: 100%;justify-content: space-around;}
  }
  div.prefooter-right {
    div.prefooter-form {
      width: 100vw;
      margin-left: 0;
      form {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      input[type="email"] {
         margin: 0;
      }
    }
  }
  //SECTION PREFOOTER END

  //FOOTER START
  footer {padding: 10px 0;}
  //FOOTER END
}
