section.download-aspire {
  background: $aspire;
}

ul.aspire-download {
  flex-wrap: wrap;
  li.aspire-store {
    padding: 125px 0 176px 100px;
    h1 {@include h1;}
    p {
      margin: 24px 0 15px 0;
      color: $w;
    }
    div.aspire-buttons-download {
      flex-basis: 430px;
      justify-content: space-between;
      flex-wrap: wrap;
      a {
        display: inline-block;
        padding: 13px;
        text-transform: capitalize;
        color: $w;
        border: 2px solid $w;
        border-radius: 18px;
        transition: all 0.4s ease;
        &:hover {
          background: $w;
          color: $aspire;
        }
        i {
          margin-right: 12px;
          color: inherit;
        }
      }
    }
  }
  li.aspire-download-mobile {
    padding: 53px 0 0 118px;
  }
}
