section.pricing {
  padding: 1px 0 122px 0;
  background: $price;
}

ul.price-list {
  justify-content: space-around;
  flex-wrap: wrap;
  li {
    padding-bottom: 70px;
    flex-basis: 330px;
    background: $w;
    border: 1px solid $aspire;
    transition: box-shadow 0.4s ease-in-out;
    &:hover {box-shadow: 0 0 65px 20px rgba(0,0,0,0.2);}
    div.price-header {
      margin-bottom: 37px;
      padding: 20px 0;
      background: $aspire;
      h3{
        text-transform: capitalize;
        text-align: center;
        font-size: 20px;
        color: $w;
      }
    }
    div.how-mutch {
      display: block;
      width: 72px;
      height: 72px;
      margin: 0 auto;
      padding-top: 15px;
      border: 2px solid $aspire;
      border-radius: 50%;
      p {
        display: block;
        text-align: center;
        font-size: 30px;
        b {margin-right: 3px;}
      }
    }
    div.price-descr {
      margin: 40px 0;
      p {
        text-align: center;
        line-height: 24px;
        font-size: 13px;
      }
    }

    a.button-register {
      display: block;
      margin: 0 auto;
      width: 150px;
      padding: 15px 44px;
      text-transform: capitalize;
      border: 1px solid $aspire;
      border-radius: 20px;
      transition: all 0.4s ease;
      &:hover {
        background: $aspire;
        color: $w;
      }
    }
  }
}
