section.our-team {
  padding-bottom: 130px;
}

ul.team-member {
  justify-content: space-between;
  flex-wrap: wrap;
  li.team-member-li {
    flex-basis: 370px;
    div.img-team-member {
      display: block;
      width: 370px;
      height: 320px;
      background: url(../../img/image-sprites.jpg) no-repeat -315px 0;
      border: 1px solid $aspire;
      border-radius: 10px;
      &.hass {background-position: -843px 0;}
      &.lans {background-position: -1377px 0;}
    }
    div.descr-team {
      padding-top: 39px;
      text-transform: capitalize;
      text-align: center;
      h3 {
        margin-bottom: 17px;
        font-size: 20px;
      }
    }

    ul.team-social-icons {
      margin-top: 33px;
      justify-content: center;
      flex-wrap: wrap;
      li {
        width: 50px;
        height: 50px;
        margin-right: 27px;
        &:last-child {margin-right: 0;}
        a {
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          background: $team;
          border-radius: 10px;
          transition: background 0.4s ease;
          &:hover {background: $aspire;}
          &:hover > i {color: $w;}
         i {
          font-size: 30px;
          color: $crumb;
         }
        }
      }
    }
  }
}
