section.red-line {
  width: 100%;
  height: 475px;
  background: url(../../img/red-line-bg.jpg) no-repeat center 67%;
  background-size: cover;
}

div.main-red-line {
  width: 100%;
  height: 475px;
  justify-content: center;
  align-items: center;
}

ul.red-line-items {
  padding: 36px 0;
  flex-basis: 925px;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgba($w, 0.5);
  li {
    i {
      margin: 0 auto;
      display: block;
      width: 30px;
      height: 30px;
      background: url(../../img/icons-sprites.png) no-repeat;
      &.download {background-position: -27px 0;}
      &.ranking {background-position: -58px 0;}
      &.client {background-position: -90px 0;}
    }
    h1 {
      font-weight: bold;
      font-size: 30px;
      text-align: center;
    }
    p{
      text-transform: uppercase;
      text-align: center;
    }
  }
}
