section.prefooter {background: $aspire;}

div.prefooter-left {
  padding: 120px 0;
  div.prefooter-logo {
    width: 160px;
    i {
      font-weight: bold;
      font-size: 44px;
      color: $w;
    }
    h3 {
      display: inline-block;
      margin-left: 10px;
      text-transform: uppercase;
      font-size: 20px;
      color: $w;
    }
    p.prefooter-logo-descr {
      text-transform: capitalize;
      color: $p;
    }
  }

  p.prefooter-descr {
    margin-top: 28px;
    line-height: 26px;
    color: $w;
  }
  div.prefooter-social-icons {
    width: 236px;
    margin-top: 32px;
    justify-content: space-between;
    i {
      font-size: 25px;
      color: $w;
      transition: color 0.5s;
      &:hover {color: $crumb;}
    }
  }
}

div.prefooter-right {
  align-items: center;
  div.prefooter-form {
    margin-left: 89px;
    input[type="email"] {
      margin-right: 24px;
      padding: 18px 0;
      background: transparent;
      text-transform: capitalize;
      font-size: 17px;
      color: $enter;
      border: none;
      border-bottom: 1px solid $w;
    }
    input[type="submit"] {
      padding: 16px 57px;
      text-transform: capitalize;
      font-size: 20px;
      border-radius: 23px;
      transition: background 0.4s;
      cursor: pointer;
    }
  }
}
