//OPACITY SLIDER START
.w3-content {
    position: relative;
    display: block;
    height: 261px;
  }

  .w3-center {
    position: absolute;
    top: 73%;
    left: 17%;
  }
  .mySlides {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    transition: opacity 0.8s ease-in-out;
  }
  .w3-red {background: $crumb-active !important;}

//OPACITY SLIDER END



section.testimonials {padding-bottom: 120px;}

ul.testimonials-description {
  padding-bottom: 87px;
  li.testimonials-team-img {
    margin-right: 107px;
    div.testimonials-img {
      display: inline-block;
      width: 170px;
      height: 170px;
      border-radius: 50%;
      overflow: hidden;
      i {
        display: block;
        width: 170px;
        height: 170px;
        background: url(../../img/image-sprites.jpg) no-repeat -46px 1px;
        &.face-two {background-position: -55px -209px;}
        &.face-three {background-position: -4175px 0px;}
      }
    }
  }
  li.testimonials-description-right {
    flex-wrap: wrap;
    p, h3 {line-height: 28px;}
    h3{
      margin-top: 30px;
      font-weight: bold;
      font-size: 20px;
    }
    p.prof, h3 {text-transform: capitalize;}
  }
}

div.crumbs {
  justify-content: center;
  p {
    display: inline-block;
    margin-right: 9px;
    width: 15px;
    height: 15px;
    background: $crumb;
    border-radius: 50%;
    cursor: pointer;
    &:last-child {margin-right: 0;}
  }
}
