section.contact {
  padding: 1px 0 120px 0;
  background: $team;
}

ul.contact-us {
  justify-content: space-around;
  flex-wrap: wrap;
  li.main-feature {
    flex-basis: 430px;
    div.drop-down-list {
      margin-bottom: 26px;
      border: 1px solid $aspire;
      border-radius: 4px;
      &:last-child {margin-bottom: 0;}
      input {display: none;}
      h3 {
        margin-left: 20px;
        font-size: 20px;
      }
      div.list-header {
        padding: 15px 0 15px 28px;
        background: $aspire;
          label {
            display: inline-block;
            width: 29px;
            height: 29px;
            background: $w;
            border-radius: 50%;
            text-align: center;
            font-size: 22px;
            color: $aspire;
            cursor: pointer;
          }
      }
      input#drop:checked + p {height: 99px; margin: 0 0 23px 40px;}
      input#drop2:checked + p {height: 99px; margin: 0 0 23px 40px;}
      input#drop3:checked + p {height: 99px; margin: 0 0 23px 40px;}
      input#drop4:checked + p {height: 99px; margin: 0 0 23px 40px;}
      p {
        display: block;
        height: 0;
        overflow: hidden;
        line-height: 25px;
        color: $nav;
        transition: height 0.3s ease;
      }
    }

  }

  li.contact-form {
    padding: 25px 69px 40px 67px;
    flex-basis: 468px;
    border: 1px solid $aspire;
    border-radius: 4px;
    div.contact-form-header {
      margin-bottom: 35px;
      h1, a {
        text-transform: capitalize;
        font-size: 30px;
      }
      a {color: $aspire;}
    }
    form {
      input[type="email"],
      textarea {
        width: 100%;
        margin-bottom: 18px;
        font-size: 17px;
        color: $form;
        border: 1px solid $aspire;
        border-radius: 4px;
        &:focus {background: beige;}
      }
      input[type="email"] {
        height: 57px;
        padding-left: 18px;
      }
      textarea {
        height: 108px;
        padding: 16px 0 0 18px;
      }
      input[type="submit"] {
        padding: 18px 50px;
        text-transform: capitalize;
        font-size: 20px;
        color: $w;
        background: $aspire;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        transition: background 0.4s ease-in-out;
        &:hover {
          background: $w;
          color: $nav;
        }
      }
    }
  }
}
