section.aspire-apps-feature {padding-bottom: 122px;}

div.aspire-apps-header {
  margin: 125px 0 87px 0;
  display: block;
  text-align: center;
  color: $nav;
  h1 {
    margin-bottom: 17px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 30px;
  }
}

div.exclusive-design {
  justify-content: space-between;
  flex-wrap: wrap;
}

ul.design-exlusive {
  display: inline-block;
  width: 249px;
  li {
    &:first-child {margin-bottom: 75px;}
    text-align: center;
    i.web-design-icon {
      display: block;
      margin: 0 auto;
      width: 41px;
      height: 37px;
      background: url(../../img/image-sprites.jpg) no-repeat -2397px 0;
    }
    h4 {
      margin: 24px 0;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 17px;
    }

  }
}

div.exclusive-design-img {
  display: inline-block;
}
