@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../fonts/Montserrat-Bold.eot');
  src: url('../../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
     url('../../fonts/Montserrat-Bold.ttf') format('truetype'),
     url('../../fonts/Montserrat-Bold.svg#KeplerStd') format('svg');
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../fonts/Montserrat-Regular.eot');
  src: url('../../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
     url('../../fonts/Montserrat-Regular.ttf') format('truetype'),
     url('../../fonts/Montserrat-Regular.svg#KeplerStd') format('svg');
  font-style: normal;
  font-weight: normal;
}



@font-face {
  font-family: 'Baltimore'; /* Имя шрифта */
  src: url('../../fonts/baltimore-nouveau.ttf'); /* Путь к файлу со шрифтом */
 }
