//RESET STYLE BEGINNER
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //font-size: 16px;
  font: 15px $monserreg, sans-serif;
  color: #212121;
}

.flex {display: flex;}
.wrap {flex-wrap: wrap;}
.inline-flex {display: inline-flex;}


ol, ul {list-style: none;}
ul li {list-style-type: none;}

img {max-width: 100%;}

a, a:hover {text-decoration: none;}

html {height: 100%;}

body {height: 100%;}

.overflow {overflow: hidden;}

.clearfix::before,
.clearfix::after {
content: " ";
display: table;
}
.clearfix::after {clear: both;}

.left {float: left;}
.right {float: right;}

.text-right {text-align: right;}
.text-left {text-align: left;}

.none {display: none;}
.grid {display: grid;}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

//RESET STYLE END
