//FONTS
$monserreg: 'Montserrat-Regular';
$monseratbold: 'Montserrat-Bold';
$icofont: 'IcoFont';




//COLORS
$w: #fff;
$nav: #212121;
$a: #2979ff;
$aspire: #2196f3;
$aspire-transparent: rgba(#2196f3, 0.8);
$input: #ededed;
$video: #333333;
$crumb: #00897b;
$crumb-active: #3949ab;
$price: #e8f4fd;
$team: #f0f1f1;
$form: #b4b4b4;
$p: #c6e3fc;
$enter: #f7f7f7;
